TELEGRAM_API_KEY=5674000763:AAGLAdXblsg0ah0y3RGGk2NVmdG7-8yAWgs
TELEGRAM_USER_ID=2022313646 #Use this with your user ID to restrict usage only to your account

STABILITY_API_KEY=sk-iZWfXmEH3S66ajtDjGt5luiGoobcdmig8jquJSvIRymh0Dnj #use this if you want the bot to draw things with stability AI as well

SERP_API_KEY=8b4683e39ba12fca18740f0277c38c6d18fc8af98b4e6cc8c9a9181d2103236d #add this from serpapi if you want to enable the google search feature

HEADLESS_BROWSER=False # (Default: False) add this to launch a headless browser (to run on a server without X for example)

OPEN_AI_EMAIL=eueon@outlook.com #openai login email. Needed for autologin in headless mode

OPEN_AI_PASSWORD=Impianku26 #openai password. Needed for autologin in headless mode
